.form{
    box-shadow: 0px 5px 15px  rgb(109, 109, 109);
    padding: 30px 25px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 25px;
}
.form__titel{
    font-size: 20px;
    margin: 0 0 20px 0;

}
.btn-submit{
    width: 100%;
    background-color: #4b7ac5;
    border: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: #3b5f99;
}

.form__single{
    display: block;
    text-align: center;
    color: #2b5292;
    text-decoration: none;
}